/*CLASES REUTILIZABLES*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  font-family: 'Raleway', sans-serif;
}

img {
  vertical-align: middle;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

.text-uppercase {
  text-transform: uppercase;
}

/*ESCRIBE TU CÓDIGO DESDE AQUÍ*/
header{
  position: fixed;
  background: white;
  width: 90%;
}
header>img{
  width: 50px;
  height: 50px;
  float: right;
  margin-right: 15%;
  z-index: 1
}

header>div{
  float: left;
  margin-left: 10%;
  margin-top: 1%;;
}

.clear{
  clear: both;
}
header>div>a{
  margin: 20px;
}

#segunda-seccion{
  background-image:url('../assets/images/bg-home.jpg');
  background-size: cover;
  height: 400px;
  color: white;
  text-align: center;
}

#segunda-seccion>div{
  padding-top: 100px;
}

#segunda-seccion>div>a{
  color: white;
  background-color: #2ECC71;
  padding: 10px 15px ;
  display: inline-block;
  margin-top: 20px;
}

#tercera-seccion{
  background-color: #F17C72;
  color: white;
  text-align: center;
  padding-bottom: 50px;
}

h2{
  margin: 0;
}

#tercera-seccion>div>h2{
  padding: 40px 0;
}

#tercera-seccion>div>div>img{
  width: 200px;
}

#tercera-seccion>div>div{
  display: inline-block;
  width: 30%;
}

#cuarta-seccion{
  text-align: center;
}

#cuarta-seccion>div>h2{
  padding: 20px 0;
}

#cuarta-seccion>div>img{
  width: 70%;
  height: 91vh;
}

#cuarta-seccion>.imagenes>div>img{
  width: 61%;
}

#cuarta-seccion>.imagenes>div{
  display: inline-block;
  width: 27%;
  margin: 15px;
}

footer{
  background-color: #373B47;
  text-align: center;
  padding: 1%;
  color: white;
}
